
body {
  background-color: #636e6e;
}
#root {
  background-color: azure;
  max-width: 300px;
  padding: 30px;
  margin: auto;
  border-radius: 10px;
}

header {
  text-align: center;
}

h1 {
  margin: 0px 0px 20px 0px;
}
form {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 5px;
}

input {
  border-radius: 5px;
  border: 1px solid #636e6e;
  width: 300px;
  padding: 3px;
}

#campo_cep {
  width: 180px;
}

button {
  border-style: none;
  background-color: #636e6e;
  color: white;
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
}